@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&family=Manrope:wght@400;500;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #f1f5fe;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.menu-icon{
  display: none;
}

nav a {
  font-family: "Halant";
  font-weight: 500;
  font-size: 20px;
}

 .active:hover{
  border-bottom: solid 2px #155eef;
  cursor: pointer;
}

.next-active:hover{
  border-bottom: solid 2px #155eef;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}

.first-div a {
  font-size: 33.28px;
}

.media-logo{
  display: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  white-space: nowrap;
}

.active {
  /* border-bottom: solid 2px #155eef; */
  /* width: 110px; */
  color: #000000;
  cursor: pointer;
  align-items: center;
  text-align: center;
  flex: 1;
}

.next-active{
  flex: 1;
}
.butt-link {
  padding: 8px 20px;
  color: #155eef;
  border-radius: 8px;
  border: solid 1px #155eef;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  /* flex: 1; */
}

.first-div {
  display: flex;
  align-items: center;
}

.p-one {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 33.28px;
  color: #155eef;
}


.section-one {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 120px 0;
}

.media-img{
  display: none;
}

.one {
  font-family: "Halant";
  font-weight: 600;
  font-size: 32px;
  color: #b8b8b8;
}

.two {
  font-family: "Halant";
  font-weight: 600;
  font-size: 56px;
  color: #ffffff;
}

.three {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 32px;
  text-align: justify;
  color: #a3a3a3;
  margin-bottom: 26px;
}

.projects {
  background-color: #155eef;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
}

h3 {
  font-family: Halant;
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 18px;
}

.second-div p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  color: #000000;
}

.div-five{
  display: flex;
  gap: 30px;
  margin-top: 42px;
}

.section-two {
  background-color: #f5f8fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 157px;
  margin: 64px 120px;

}

.hire {
  background-color: #155eef;
  color: #ffffff;
  padding: 10px 60px;
  border-radius: 8px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
}

.resume {
  background-color: #ffffff;
  color: #155eef;
  padding: 10px 20px;
  border: solid 1px #155eef;
  border-radius: 8px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
}

.first-ft-div {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080808;
  color: #ffffff;
  margin-top: 0px;
  padding: 16px 120px;
}

.media-foot{
  display: none;
}

.p-foot {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 33.28px;
  color: #ffffff;
}

.socials-div {
  display: flex;
  gap: 35px;
}

.copy-foot {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 460px) {
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body{
      padding: 0px;
      width: 100%;
      height: 100%
      
    }

    nav{
      display: none;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 0px 8px;
      margin: 0px;
    } 

    .menu-icon{
      display:block;
    }

    .media-logo{
      display: block;
    }

    .first-div{
      display: none;
    }

    .section-one {
      width: 100vw;
      /* height: 40%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px 0px 20px;
    }

    .media-img{
      display: block;
      margin: 5% 1.5% 0%;
      
    }

    .image-one{
      display: none;
    }

    .p-div{
      width: 100%;
      margin: 0px 0px 20px;
      padding: 0px 3%;
      align-items: center;
    }

    .projects{
      width: 100%;
      padding: 10px 133px;
      margin: 16px 0px 0px 4px;
    }

    .one {
      font-family: "Halant";
      font-weight: 600;
      font-size: 16px;
      color: #b8b8b8;
      text-align: center;
      margin-top: 3%;
    }
    
    .two {
      font-family: "Halant";
      font-weight: 600;
      font-size: 32px;
      color: #ffffff;
      text-align: center;
    }
    
    .three {
      font-family: "Manrope";
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #a3a3a3;
      margin: 0px 0px 20px;
    }

    .section-two {
      width: 100vw;
      /* height: 40vw; */
      display: block;
      padding: 0px;
      margin: 0px;
      
    }
     
    .pic-two{
      display: none;
    }

    h3 {
      font-family: Halant;
      font-size: 24px;
      font-weight: 600;
      color: #000000;
      margin: 0px;
      text-align: center;
    }
    
    .second-div p {
      font-family: "Manrope";
      font-weight: 400;
      font-size: 16px;
      text-align: justify;
      /* word-spacing: 2px; */
      letter-spacing: 0.5px;
      color: #000000;
      padding: 0px 24px;
      }

    .div-five{
      margin: 16px 6% 39px;
    }

    footer{
    display: none;
    }

    .media-foot{
      display: block;
      padding: 0%;
      margin: 0%;
    }

    .first-ft-div{
      margin-left: 3%;
    }

    .p-foot{
    font-size: 23.94px;
    
    }

    .mfoot-div{
      display: flex;
      align-items: center;
      gap: 12%;
    }

    .socials-div{
      gap: 25%;
    }

    .copy-foot{
      font-size: 15.96px;
      text-align: center;
      padding-bottom: 3%;
    }
}
